<phpunit
    bootstrap="src/Test/bootstrap.php"
    colors="true"
    printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer">

    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">src/Test/Unit</directory>
        </testsuite>
        <testsuite name="browser">
            <directory suffix="Test.php">src/Test/Browser</directory>
        </testsuite>
        <testsuite name="controller">
            <directory suffix="Test.php">src/Test/Controller</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-html" target="web/coverage" lowUpperBound="35"
            highLowerBound="70"/>
    </logging>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix=".php">src/Test</directory>
            </exclude>
            <directory suffix=".php">web</directory>
            <exclude>
                <directory>web/coverage</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>